<a href="javascript:void(0);" class="icon" onclick="hide()">
    <i class="fa fa-bars"></i>
</a>
<div class="square">
    <div class="head"><br>
    </div>
    <div class="schedule container">
        <form id="form" method="POST" action="/">
            {% csrf_token %}
            {{ jadwal_form }}
            <br>
            <div class="row container">
                <button type="submit" class="col-3 btn btn-success text-center">Submit</button>
                <div class="col-6"></div>
                <button type="button" class="col-3 btn btn-warning text-center" onclick="location.href='{% url 'deleteAll' %}'">Delete</button>
            </div>
        </form>
    </div>
    <div class="data-table table-responsive container" style="overflow: scroll; height: 200px">
        <table class="table">
            <tr class="bg-info">
               <th class="text-center">Aktivitas</th>
               <th class="text-center">Tempat</th>
               <th class="text-center">Kategori</th>
               <th class="text-center">Hari</th>
               <th class="text-center">Tanggal</th>
               <th class="text-center">Jam</th>
            </tr>
            {% for data in jadwal_data %}
               <tr class="bg-white">
                   <td class="text-center">{{ data.nama }}</td>
                   <td class="text-center">{{ data.tempat }}</td>
                   <td class="text-center">{{ data.kategori }}</td>
                   <td class="text-center">{{ data.tanggal|date:"l"}}</td>
                   <td class="text-center">{{ data.tanggal|date:"j F Y" }}</td>
                   <td class="text-center">{{ data.tanggal|date:"H:i" }}</td>
               </tr>
            {% endfor %}
        </table>
    </div>
    <table>

    </table>
</div>
